.header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidebar-width});
    background-color: $header-color;
    color: $white;
    box-shadow: 0 5px 22px $black;
}

.header__left {
    flex-basis: 60%;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    flex-basis: 40%;
}