.nav {
    display: flex;

}

.nav__list {

    position: relative;
    &:hover {

        .nav__link{
            background-color: $blue;
        }
        >.subnav {
            display: block;
        }
    }
}

.nav__link {
    padding: 1.5rem 1.3rem;
    display: block;
    font-size: 1.4rem;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    transition: .1s linear;

    &:hover {
        background-color: $blue;
    }

    &.has--subnav {

        position: relative;
        padding-right: 3rem;
        &:after {
            content: '';
            display: block;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 1.4rem;
            transform: translateY(-50%);
        }

    }
}