.ralated{
    
    border-bottom: 1px solid #1C1C1C;
    margin-bottom: 2.5rem;
}

.related__title{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: $white;
    margin-bottom: 2rem;
}

.related__list{
    display: flex;  
    flex-wrap: wrap;
}

.related__list-item{
    width: 50%;
    margin-bottom: 2.5rem;
}

.related__list-title{
    margin-bottom: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #F3EBA2;
    transition: .1s linear;

    a{
        color: inherit;
    }

    &:hover{
        text-decoration: underline;
    }

}

.related__list-date{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: #828282;
}