<div class="modal">
    <div class="modal__content">

        <button class="modal__close">
            <img src="assets/images/Modal/cancel.svg" alt="">
        </button>

        <form action="" class="form--center">

            <div class="form__group">
                <input type="text" class="form__control form__control--input" placeholder="Ваше имя">
            </div>

            <div class="form__group">
                <input type="email" class="form__control form__control--input" placeholder="Ваше email">
            </div>

            <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>

            <div class="form__footer">
                <button class="btn btn--blue btn--rounded btn--small" type="submit">Отправить</button>
            </div>
        </form>

        <ul class="modal__footer">
            <li class="modal__footer_item">
                email: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a>
            </li>
            <li class="modal__footer_item">
                тел: <a href="tel:+94323285622">+943-232-856-22</a>
            </li>
        </ul>
    </div>
</div>