<div class="modal">
    <div class="modal__content modal__content--social">

        <button class="modal__close">
            <img src="assets/images/Modal/cancel.svg" alt="">
        </button>


        <ul class="social social--modal">
            <li class="social__item">
                <a href="#">
                    <img src="assets/images/Modal_Share/facebook (3) 1.svg" alt="Facebook">
                </a>
            </li>
            <li class="social__item">
                <a href="#">
                    <img src="assets/images/Modal_Share/twitter (1) 1.svg" alt="Twitter">
                </a>
            </li>
            <li class="social__item">
                <a href="#">
                    <img src="assets/images/Modal_Share/vk 2.svg" alt="VK">
                </a>
            </li>
            <li class="social__item">
                <a href="#">
                    <img src="assets/images/Modal_Share/copy 1.svg" alt="Копировать">
                </a>
            </li>
        </ul>

    </div>
</div>